# 2. 뉴스 홈페이지 분류

- 신문사 홈페이지별로 기사 내용이 서로 다른 형태의 html로 구성되어 있을 것이다.
- rawdata에 있는 기사 링크에 있는 홈페이지 목록을 정리한다.
- 이를 바탕으로 각 홈페이지별 크롤링 방법을 정의할 예정이다.

<br>

## 2.1 데이터프레임 읽기

- 이전에 생성한 기사 링크가 포함된 데이터프레임을 읽어온다.

In [2]:
import pandas as pd

df_origin = pd.read_csv('news_info.csv')
df_origin.head()

,NewsDate,NewsTitle,Path,URL
0,20200129,"농협은행, 전 영업점에 방역 작업...'우한 폐렴' 확산 방지 총력","..\rawdata\기업별 관련기사\은행\NH농협은행\20200129 농협은행, 전...",https://news.naver.com/main/read.nhn?mode=LS2D...
1,20200129,윤종원 제26대 IBK기업은행장 취임식,..\rawdata\기업별 관련기사\은행\IBK기업은행\20200129 윤종원 제2...,https://news.naver.com/main/read.nhn?mode=LS2D...
2,20200131,"신한銀의 파격실험 영업점, 돈 안벌어도 OK",..\rawdata\기업별 관련기사\은행\신한은행\20200131 신한銀의 파격실험...,https://www.hankyung.com/economy/article/20200...
3,20200203,국민은행 디지털 전환 첨병된 '인사이트 지점',..\rawdata\기업별 관련기사\은행\KB국민은행\20200203 국민은행 디지...,https://news.naver.com/main/read.nhn?mode=LS2D...
4,20200203,신한은행 지점 암행평가 270곳 펀드 판매정지…질적 도약 기회,..\rawdata\기업별 관련기사\은행\신한은행\20200203 신한은행 지점 암...,http://news.mtn.co.kr/newscenter/news_viewer.m...

In [3]:
print(len(df_origin))

343

<br>

## 2.2 기사 링크 중복 확인

- rawdata에 같은 기사가 서로 다른 폴더에 있는 경우가 있다.
- 그렇기 때문에 파일 경로(`Path`) 정보를 제외한 나머지 정보가 중복된 데이터들이 존재한다.
- 이 중복된 데이터들을 확인해보자.

In [4]:
df = df_origin.drop(columns=["Path"], axis=1)
df.head()

,NewsDate,NewsTitle,URL
0,20200129,"농협은행, 전 영업점에 방역 작업...'우한 폐렴' 확산 방지 총력",https://news.naver.com/main/read.nhn?mode=LS2D...
1,20200129,윤종원 제26대 IBK기업은행장 취임식,https://news.naver.com/main/read.nhn?mode=LS2D...
2,20200131,"신한銀의 파격실험 영업점, 돈 안벌어도 OK",https://www.hankyung.com/economy/article/20200...
3,20200203,국민은행 디지털 전환 첨병된 '인사이트 지점',https://news.naver.com/main/read.nhn?mode=LS2D...
4,20200203,신한은행 지점 암행평가 270곳 펀드 판매정지…질적 도약 기회,http://news.mtn.co.kr/newscenter/news_viewer.m...

In [5]:
# 중복 확인
df[df.duplicated()].head(10)

,NewsDate,NewsTitle,URL
27,20200220,사고 안 나면 보험료 돌려주는 보험 나온다,https://news.naver.com/main/read.nhn?mode=LS2D...
28,20200220,사고 안 나면 보험료 돌려주는 보험 나온다,https://news.naver.com/main/read.nhn?mode=LS2D...
31,20200221,"DLF·라임에 데인 은행들, AI로 '불완전판매' 잡는다",https://m.news.naver.com/read.nhn?mode=LSD&sid...
32,20200221,"DLF·라임에 데인 은행들, AI로 '불완전판매' 잡는다",https://m.news.naver.com/read.nhn?mode=LSD&sid...
33,20200221,"DLF·라임에 데인 은행들, AI로 '불완전판매' 잡는다",https://m.news.naver.com/read.nhn?mode=LSD&sid...
35,20200221,굿바이 보험아줌마…로봇 설계사 시대 온다,https://m.news.naver.com/read.nhn?mode=LSD&sid...
36,20200221,굿바이 보험아줌마…로봇 설계사 시대 온다,https://m.news.naver.com/read.nhn?mode=LSD&sid...
37,20200221,굿바이 보험아줌마…로봇 설계사 시대 온다,https://m.news.naver.com/read.nhn?mode=LSD&sid...
38,20200221,굿바이 보험아줌마…로봇 설계사 시대 온다,https://m.news.naver.com/read.nhn?mode=LSD&sid...
39,20200221,굿바이 보험아줌마…로봇 설계사 시대 온다,https://m.news.naver.com/read.nhn?mode=LSD&sid...

In [6]:
# 중복 제거
df = df.drop_duplicates()
df.head(10)

,NewsDate,NewsTitle,URL
0,20200129,"농협은행, 전 영업점에 방역 작업...'우한 폐렴' 확산 방지 총력",https://news.naver.com/main/read.nhn?mode=LS2D...
1,20200129,윤종원 제26대 IBK기업은행장 취임식,https://news.naver.com/main/read.nhn?mode=LS2D...
2,20200131,"신한銀의 파격실험 영업점, 돈 안벌어도 OK",https://www.hankyung.com/economy/article/20200...
3,20200203,국민은행 디지털 전환 첨병된 '인사이트 지점',https://news.naver.com/main/read.nhn?mode=LS2D...
4,20200203,신한은행 지점 암행평가 270곳 펀드 판매정지…질적 도약 기회,http://news.mtn.co.kr/newscenter/news_viewer.m...
5,20200203,"신한은행, 순이익 목표 10% 낮췄다",https://www.hankyung.com/economy/article/20200...
6,20200204,'종합금융그룹' 강조한 윤종원 기업은행장 지주 전환 도전할까,https://n.news.naver.com/article/421/0004439723
7,20200204,"보험업계는 '제로성장'이라는데, 은행들은 왜 보험사를 사들일까",https://n.news.naver.com/article/025/0002972080
8,20200204,"우리은행, 금감원 키코 분쟁조정안 전격 수용... 다른 은행들도 배상 나설까",https://www.hankookilbo.com/News/Read/20200203...
9,20200204,"하나금융, 역대 최대 순이익…'은행 쏠림'은 고민",https://news.naver.com/main/read.nhn?mode=LS2D...

<br>

## 2.3 URL에서 도메인 추출

In [22]:
url_list = df["URL"].tolist()
homepage_list = [url.split("/")[2] for url in url_list]
homepage_list[:10]

['news.naver.com',
 'news.naver.com',
 'www.hankyung.com',
 'news.naver.com',
 'news.mtn.co.kr',
 'www.hankyung.com',
 'n.news.naver.com',
 'n.news.naver.com',
 'www.hankookilbo.com',
 'news.naver.com']

<br>

## 2.4 도메인 주소를 포함하는 데이터프레임 생성

In [26]:
homepage_df = pd.DataFrame({"Domain": homepage_list})
homepage_df.head()

             Domain
0    news.naver.com
1    news.naver.com
2  www.hankyung.com
3    news.naver.com
4    news.mtn.co.kr

<br>

## 2.5 도메인 주소별 개수 확인

In [31]:
homepage_df["Domain"].value_counts()

news.naver.com             78
www.hankyung.com           26
www.mk.co.kr               15
www.sedaily.com             8
m.news.naver.com            8
www.fnnews.com              5
n.news.naver.com            5
www.thebell.co.kr           3
www.donga.com               3
biz.chosun.com              3
it.chosun.com               2
news.kmib.co.kr             2
view.asiae.co.kr            2
www.etnews.com              2
newsis.com                  2
news.heraldcorp.com         2
news.v.daum.net             1
cnews.fntimes.com           1
www.hani.co.kr              1
www.kbanker.co.kr           1
www.kukinews.com            1
www.dailian.co.kr           1
www.pressm.kr               1
www.ftoday.co.kr            1
www.seoul.co.kr             1
news.khan.co.kr             1
www.ebn.co.kr               1
www.businesskorea.co.kr     1
www.inews24.com             1
cm.asiae.co.kr              1
m.inews24.com               1
m.biz.chosun.com            1
www.hankookilbo.com         1
news.mtn.co.kr              1
www.edaily.co.kr            1
news.joins.com              1
news.tf.co.kr               1
www.techm.kr                1
www.nongmin.com             1
www.yna.co.kr               1
m.sedaily.com               1
toktokmagazine.com          1
news1.kr                    1
m.mk.co.kr                  1
weekly.hankooki.com         1
Name: Domain, dtype: int64

<br>

## 2.6 도메인 주소별 홈페이지 이름 분류

In [96]:
homepage_name_list = []

for domain in homepage_df["Domain"]:
    
    homepage_name = ""
    
    if domain == "news.naver.com": homepage_name = "네이버뉴스"
    elif domain == "n.news.naver.com": homepage_name = "네이버뉴스(모바일)"
    elif domain == "m.news.naver.com": homepage_name = "네이버뉴스(모바일)"
    elif domain == "news.v.daum.net": homepage_name = "다음뉴스"
    elif domain == "www.hankyung.com": homepage_name = "한국경제"
    elif domain == "www.mk.co.kr": homepage_name = "매일경제"
    elif domain == "m.mk.co.kr": homepage_name = "매일경제(모바일)"
    elif domain == "www.sedaily.com": homepage_name = "서울경제"
    elif domain == "m.sedaily.com": homepage_name = "서울경제(모바일)"
    elif domain == "www.fnnews.com": homepage_name = "파이낸셜뉴스"
    elif domain == "www.donga.com": homepage_name = "동아닷컴"
    elif domain == "www.thebell.co.kr": homepage_name = "더벨"
    elif domain == "biz.chosun.com": homepage_name = "조선일보_비즈"
    elif domain == "m.biz.chosun.com": homepage_name = "조선일보_비즈(모바일)"
    elif domain == "it.chosun.com": homepage_name = "조선일보_IT"
    elif domain == "news.heraldcorp.com": homepage_name = "헤럴드경제"
    elif domain == "newsis.com": homepage_name = "뉴시스"
    elif domain == "www.etnews.com": homepage_name = "전자신문"
    elif domain == "view.asiae.co.kr": homepage_name = "아시아경제"
    elif domain == "cm.asiae.co.kr": homepage_name = "아시아경제(모바일)"
    elif domain == "news.kmib.co.kr": homepage_name = "국민일보"
    elif domain == "www.pressm.kr": homepage_name = "프레스맨"
    elif domain == "cnews.fntimes.com": homepage_name = "한국금융"
    elif domain == "news1.kr": homepage_name = "뉴스1코리아"
    elif domain == "www.inews24.com": homepage_name = "아이뉴스24"
    elif domain == "m.inews24.com": homepage_name = "아이뉴스24(모바일)"
    elif domain == "www.kbanker.co.kr": homepage_name = "대한금융신문"
    elif domain == "www.edaily.co.kr": homepage_name = "이데일리"
    elif domain == "www.hani.co.kr": homepage_name = "한겨레"
    elif domain == "www.techm.kr": homepage_name = "테크엠"
    elif domain == "news.khan.co.kr": homepage_name = "경향신문"
    elif domain == "www.ebn.co.kr": homepage_name = "이비뉴스"
    elif domain == "www.seoul.co.kr": homepage_name = "서울신문"
    elif domain == "www.ftoday.co.kr": homepage_name = "파이낸셜투데이"
    elif domain == "www.dailian.co.kr": homepage_name = "데일리안"
    elif domain == "toktokmagazine.com": homepage_name = "톡톡매거진"
    elif domain == "www.yna.co.kr": homepage_name = "연합뉴스"
    elif domain == "www.nongmin.com": homepage_name = "농민신문"
    elif domain == "www.kukinews.com": homepage_name = "쿠키뉴스"
    elif domain == "www.businesskorea.co.kr": homepage_name = "비즈니스코리아"
    elif domain == "news.tf.co.kr": homepage_name = "더팩트"
    elif domain == "news.mtn.co.kr": homepage_name = "머니투데이"
    elif domain == "www.hankookilbo.com": homepage_name = "한국일보"
    elif domain == "news.joins.com": homepage_name = "중앙일보"
    elif domain == "weekly.hankooki.com": homepage_name = "주간한국"
    else:
        homepage_name = "확인필요"
        
    homepage_name_list.append(homepage_name)
        
homepage_df["Name"] = homepage_name_list
#homepage_df.loc[homepage_df["Name"] == "확인필요", "Domain"].value_counts() # 홈페이지 이름이 확인되지 않은 도메인 확인
homepage_df.head(10)

                Domain        Name
0       news.naver.com       네이버뉴스
1       news.naver.com       네이버뉴스
2     www.hankyung.com        한국경제
3       news.naver.com       네이버뉴스
4       news.mtn.co.kr       머니투데이
5     www.hankyung.com        한국경제
6     n.news.naver.com  네이버뉴스(모바일)
7     n.news.naver.com  네이버뉴스(모바일)
8  www.hankookilbo.com        한국일보
9       news.naver.com       네이버뉴스

<br>

## 2.7 도메인별 개수 정보 데이터프레임 생성

In [111]:
domain_cnt_df = homepage_df["Domain"].value_counts().reset_index().rename(columns={"Domain": "Cnt", "index": "Domain"})
domain_cnt_df.head(10)

              Domain  Cnt
0     news.naver.com   78
1   www.hankyung.com   26
2       www.mk.co.kr   15
3    www.sedaily.com    8
4   m.news.naver.com    8
5     www.fnnews.com    5
6   n.news.naver.com    5
7  www.thebell.co.kr    3
8      www.donga.com    3
9     biz.chosun.com    3

<br>

## 2.8 중복 제거된 홈페이지 정보 데이터프레임 생성

In [105]:
unique_homepage_df = homepage_df.drop_duplicates().reset_index().drop(columns=["index"])
unique_homepage_df.head(10)

                Domain        Name
0       news.naver.com       네이버뉴스
1     www.hankyung.com        한국경제
2       news.mtn.co.kr       머니투데이
3     n.news.naver.com  네이버뉴스(모바일)
4  www.hankookilbo.com        한국일보
5       biz.chosun.com     조선일보_비즈
6             news1.kr      뉴스1코리아
7        www.donga.com        동아닷컴
8      news.kmib.co.kr        국민일보
9  news.heraldcorp.com       헤럴드경제

<br>

## 2.9 중복 제거된 홈페이지 정보와 도메인 개수 정보 결합

In [119]:
result_df = unique_homepage_df.join(domain_cnt_df.set_index('Domain'), on='Domain')
result_df = result_df.sort_values(by=['Cnt'], ascending=False)
result_df = result_df.reset_index().drop(columns=['index'])
result_df.head(10)

              Domain        Name  Cnt
0     news.naver.com       네이버뉴스   78
1   www.hankyung.com        한국경제   26
2       www.mk.co.kr        매일경제   15
3   m.news.naver.com  네이버뉴스(모바일)    8
4    www.sedaily.com        서울경제    8
5   n.news.naver.com  네이버뉴스(모바일)    5
6     www.fnnews.com      파이낸셜뉴스    5
7  www.thebell.co.kr          더벨    3
8     biz.chosun.com     조선일보_비즈    3
9      www.donga.com        동아닷컴    3

<br>

## 2.8 홈페이지 정보 csv 파일 저장

In [120]:
try:
    result_df.to_csv("homepage.csv", index=False)
    print("Saved")
except:
    print("Save Error")

Saved

<br>

## 2.9 추후 해야 할 작업

- 홈페이지별 크롤링 방법 정의